# Gradle
.gradle/
build/
*/build/
bin/
*/bin/

# Java
*.class

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local file uploads
uploads/

# Env
.env
*.local.env

# Local Docker overrides
docker-compose.override.yml

